
@mixin strip-animation($duration){

    $nameAnimation: strip--#{unique-id()};
    @keyframes #{$nameAnimation}{
        @content;
    }
    animation-name: $nameAnimation;
    animation-duration: $duration;
    animation-timing-function:ease-out;
}