$animation{
    right:(transform: translate3d(-100%, 0, 0)) ,
    left: translate3d(0,-100%,0) ,
    other:transform: translate3d(-100%, 0, 0)
}
$colors:(
  primary:blue,
  success:green,
  danger:red
);
.int{
    background: (map-get($colors,'primary'));
    &.dos{
        background: (map-get($colors,'success'));
    }
};
@each $color,$value in $colors{
    .#{$color}{
        background: #{$color};
    }
}